:root {
  /* Primary */
  --lightWhite: #f3f3f3;
  --white: #fff;
  --Purple: hsl(259, 100%, 65%);
  --LightRed: hsl(0, 100%, 67%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightGrey: hsl(0, 0%, 86%);
  --smokeyGrey: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%);

  /* Shadow */

  --shadow02: rgba(0, 0, 0, 0.2);
  --shadow019: rgba(0, 0, 0, 0.19);
}